@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 144, 14, 0.10);
    ;
}

.nav-logo h2{
    color: var(--dark-01, #131313);
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    margin-left: 30px;
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}
/* nav section end */


